@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #f1f1f1;
}
.bio p {
    color: #92949b;
}

.container {
    max-width: 750px;
    margin: auto;
}

.avatar{
    /* box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25); */
    display: inline-block;
    width:45%;
}
.bio{
    display: inline-block;
    width: 45%;
    margin:20px 20px 10px 40px;
    padding-top: 0px;
}

.hobby {
   background-color: #FFD700;
   padding: 15px;
   border-radius: 15px;
   margin-bottom: 10px;
}
.exp {
    background-color: #ADD8E6;
    padding: 15px;
    border-radius: 15px;
}
.btn {
    background-color:#FFD700;
    transition: all .2s;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 14px;
    color: #0f141e;
}
.btn a{
    display: inline-block;
}
.btn:hover {
    background-color: #ADD8E6;
    opacity: 0.8;
}
a{
    text-decoration: none;
    margin-right: 5px;
    display: inline-block;
}
.social, .social h2{
    margin-bottom: 25px;
}
.table {
    width:100%;
    text-align: center;
}
.table tr:nth-child(odd){
    background-color:#FFD700;
}
.table td:hover{
    background-color: #92949b;
    opacity: 0.3;
}
.list{
    list-style: none;
    padding:0;
}
.list li{
    padding-bottom: 2px;
}
.list li:hover{
    background-color: #92949b;
    opacity: 0.3;  
}
.form div{
    display: inline-block;

}